.button {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;

  transition: 200ms;
}

.button:hover {
  opacity: 0.9;
}