* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: 0;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--background-color);
}

input, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  font-size: 60%;

  --heading-color: #171923;
  --background-color: #f7fafc;
  --card-background: #e2e8f0;
  --input-color: #e2e8f0;
  --input-error: #e53e3e;
  --input-valid: #48bb78;
  --success: #48bb78;
  --button-green: #38A169;
  --input-color-hover: #e2e8f0;
  --input-stroke: #a0aec0;
  --button-color: #4299e1;
  --white: #ffffff;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
