.container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;

  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 450px;
  padding: 30px;

}

.form h2 {
  font-size: 2rem;
  color: var(--heading-color);
  text-align: center;
}

.form .buttons {
  display: flex;
  gap: 10px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 450px;
  padding: 30px;
}

.result h2 {
  font-size: 2rem;
  color: var(--heading-color);
  text-align: center;
}

.result .content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px;
  
  border-radius: 4px;
  border: 1px solid var(--success)

}

.result .content strong {
  font-size: 1.5rem;
}

.result .content span {
  font-size: 1.25rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (width: 375px) {
  .form {
    max-width: 40rem;
  }

  .result {
    max-width: 40rem;
  }
}

@media (width: 320px) {
  .form {
    max-width: 350px;
  }

  .result {
    max-width: 350px;
  }
}