.input {
  padding: 8px;
  height: 50px;
  border: 1px solid var(--input-stroke);
  border-radius: 4px;
  background-color: var(--input-color);
  font-size: 16px;
  transition: 200ms;
}

.input:hover {
  background-color: var(--input-color-hover);
}